* {
  font-family: Spectral;
  font-size: 15px;
  color: hsl(4, 0%, 28%);
}

body {
  padding: 3rem;
}

main {
  margin: 0 auto;
  max-width: 768px;
}

.song-list {
  text-align: center;
}

.song {
  text-align: left;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.verse {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: left;
}

a {
  font-size: 1.5rem;
  color: inherit;
  display: block;
  margin-bottom: 1.2rem;
}

.chords {
  color: blue;
  font-weight: 700;
}

strong {
  font-weight: 700;
}
