* {
  font-family: Spectral;
}

body {
  padding: 3rem;
}

main {
  text-align: center;
  margin: 0 auto;
  max-width: 768px;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.verse {
  margin-bottom: 2rem;
  line-height: 1.5;
}

a {
  font-size: 1.5rem;
  color: black;
}
